<canvas width="500" height="500" id="canvas"></canvas>

<button>Download</button>

<script>
  var canvas = document.getElementById('canvas');
  var ctx = canvas.getContext('2d');

  var width = 500;
  var height = 500;

  ctx.fillStyle = 'black';
  // ctx.fillRect(0, 0, width, height);

  var img = new Image();
  img.src = '/textures/3.png';
  img.onload = function () {
    ctx.drawImage(img, 0, 0, width, height);
    ctx.globalCompositeOperation = 'source-out';
    ctx.font = '100px Arial';
    const gradient = ctx.createLinearGradient(0, 0, width, 0);
    gradient.addColorStop(0, "magenta");
    gradient.addColorStop(0.5, "blue");
    gradient.addColorStop(1, "red");
    ctx.fillStyle = gradient;
    ctx.fillText('Hello World', 0, 100);
  };

  document.querySelector('button').addEventListener('click', function () {
    var link = document.createElement('a');
    link.download = 'canvas.png';
    link.href = canvas.toDataURL('image/png');
    link.click();
  });
</script>
