<span id="text">Hello World</span>

<style>
  #text {
    font-size: 100px;
    background: linear-gradient(45deg, red, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mask-image: url('/textures/3-2.png');
    mask-size: cover;
  }
</style>
