html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inclusive Sans', sans-serif;
    color: var(--foreground-color);
}

main {

}

label {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}

button {
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    outline: none;
    border: none;
}

input[type="range"] {
    width: 100%;
}

.popper {
    background-color: var(--background-1);
    padding: 5px;
    border-radius: 5px;
    outline: var(--border-color) solid 1px;
}

input[type="text"] {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 3px 5px;
    border-radius: 5px;
    background-color: inherit;
    color: inherit;
}

select {
    width: 100%;
    padding: 3px 5px;
    background-color: inherit;
    border: 1px solid var(--border-color);
    color: inherit;
}

.range-control {
    display: flex;
}

.range-control input[type="text"] {
    width: 50px;
}

