html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inclusive Sans', sans-serif;
    color: var(--foreground-color);
}

main {

}

label {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
}

button {
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    outline: none;
    border: none;
}

input[type="range"] {
    width: 100%;
}

.popper {
    background-color: var(--background-1);
    padding: 5px;
    border-radius: 5px;
    outline: var(--border-color) solid 1px;
}
