html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-1);
    font-family: 'Inclusive Sans', sans-serif;
    color: var(--foreground-color);
}

main {
    /*margin: 0 auto;*/
    /*max-width: 1000px;*/
    /*padding: 10px 50px;*/
}

label {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
}

button {
    color: inherit;
    background-color: inherit;
}
