---
import Layout from '../layouts/Layout.astro';
import EditorContainer from '../components/EditorContainer.svelte';
---

<Layout title="SVG Textures">
  <main>
    <EditorContainer client:only="svelte"/>

  </main>
</Layout>
