---
import Layout from '../layouts/Layout.astro';
import OrganicContainer from '../features/organic/OrganicContainer.svelte';
---

<Layout title="SVG Textures">
  <main>
    <OrganicContainer client:only="svelte"/>
  </main>
</Layout>
