---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.svelte';
---

<Layout title="SVG Textures">
    <main>
        <header>
            <h1>SVG Textures</h1>
        </header>
        <div class="hero">
            <div class="hero-title">Generate amazing SVG assets</div>
            <div class="hero-sub">Tons of customization options</div>
        </div>
        <div class="cat">
            <div class="container">
                <div class="cat-title">Chaos Textures</div>
                <div class="cat-sub">Randomly generate textures that are chaotic in nature. Some look like a topography
                    of
                    lakes or rivers. Others are like specs of dust. Still others remind me of drywall. Choose a sample
                    to get started.
                </div>
                <div class="cat-presets">
                    <a href="/chaos#pinkish"><img src={`/chaos/presets/pinkish.webp`}/></a>
                    <a href="/chaos#bluewhite"><img src={`/chaos/presets/bluewhite.webp`}/></a>
                    <a href="/chaos#peach"><img src={`/chaos/presets/peach.webp`}/></a>
                </div>
            </div>
        </div>
        <footer>
            Brought to you by Random Bits
        </footer>
    </main>
</Layout>

<style>
    .container {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
    }

    .hero {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .hero-title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .hero-sub {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .cat {
        margin-top: 50px;
        padding: 20px;
        background: url('/img_2.png');
    //background-color: var(--background-2);
    }

    .cat-title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .cat-presets {
        padding: 20px;
    }


    .cat a {
        display: inline-block;
        padding: 10px;

    }

    .cat img {
        border-radius: 10px;
        box-shadow: 0 0 10px 0 #000;
    //border: 1px solid #000;
    }

    footer {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>
