---
import Layout from '../layouts/Layout.astro';
import Lines from '../components/EditorContainer.svelte';
---

<Layout title="SVG Textures">
  <main>
    <Lines client:only="svelte"/>

  </main>
</Layout>
