---
import Layout from '../layouts/Layout.astro';
import Patterns from '../components/patterns/Patterns.svelte';
---

<Layout title="SVG Textures">
    <main>
        <Patterns client:only="svelte"/>

    </main>
</Layout>
