---
import Layout from '../layouts/Layout.astro';
import Static from '../components/static/StaticContainer.svelte';
---

<Layout title="SVG Textures">
    <main>
        <Static client:only="svelte"/>

    </main>
</Layout>
